In [9]:
import pandas as pd
import re
df = pd.read_csv('mydata.csv')
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

In [2]:
# Drop duplicates

df = df.drop_duplicates(subset = 'Index')
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              1000 non-null   int64
 1   Customer Id        1000 non-null   object
 2   First Name         1000 non-null   object
 3   Last Name          1000 non-null   object
 4   Company            1000 non-null   object
 5   City               1000 non-null   object
 6   Country            1000 non-null   object
 7   Phone 1            1000 non-null   object
 8   Phone 2            1000 non-null   object
 9   Email              1000 non-null   object
 10  Subscription Date  1000 non-null   object
 11  Website            1000 non-null   object
dtypes: int64(1), object(11)
memory usage: 101.6+ KB

In [14]:
# Validation in phone number
def cleanPhoneNumber(phone):
    cleaned = re.sub(r'\D', '', phone)
    return cleaned
df['cleanedPhone'] = df['Phone 1'].apply(cleanPhoneNumber)
# Check if the cleaned phone numbers contain only digits
df['only digit'] = df['cleanedPhone'].str.isdigit()
df_result = df[['Phone 1', 'cleanedPhone', 'only digit']]
df_result

                   Phone 1      cleanedPhone  only digit
0        846-790-4623x4715    84679046234715        True
1       124-597-8652x05682   124597865205682        True
2       (335)987-3085x3780    33598730853780        True
3            (047)752-3122        0477523122        True
4    +1-360-693-4419x19272  1360693441919272        True
..                     ...               ...         ...
995  +1-171-715-9766x54993  1171715976654993        True
996       132.253.8501x097     1322538501097        True
997             1193982387        1193982387        True
998   +1-537-466-3245x3699   153746632453699        True
999        +1-278-758-4331       12787584331        True

[1000 rows x 3 columns]

In [16]:
# It should have 10 digits
df['phoneLength'] = df['cleanedPhone'].str.len()
df['ten digit'] = df['phoneLength'] == 10
dfResult = df[['Phone 1', 'cleanedPhone', 'only digit', 'phoneLength', 'ten digit']]
dfResult

,Phone 1,cleanedPhone,only digit,phoneLength,ten digit
0,846-790-4623x4715,84679046234715,True,14,False
1,124-597-8652x05682,124597865205682,True,15,False
2,(335)987-3085x3780,33598730853780,True,14,False
3,(047)752-3122,0477523122,True,10,True
4,+1-360-693-4419x19272,1360693441919272,True,16,False
...,...,...,...,...,...
995,+1-171-715-9766x54993,1171715976654993,True,16,False
996,132.253.8501x097,1322538501097,True,13,False
997,1193982387,1193982387,True,10,True
998,+1-537-466-3245x3699,153746632453699,True,15,False
999,+1-278-758-4331,12787584331,True,11,False

In [20]:
# Implementation ofcondition for showing ten digits phone no data
dfResult = df.loc[(df['phoneLength'] == 10) & (df['only digit'] == True)]
dfResult

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,cleanedPhone,only digit,ten digit,phoneLength
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,0477523122,True,True,10
10,11,bf104C25d0BA4E1,Nichole,Cannon,Rios and Sons,West Devon,Burundi,0647787401,139.476.1068,blandry@henson-harris.biz,2021-04-26,http://www.humphrey.org/,0647787401,True,True,10
11,12,bf2fA37cbAd7dDc,Bernard,Ritter,Bradford and Sons,West Francisco,Palau,292.313.1902,(065)075-0554,tammiepope@arroyo-baldwin.com,2022-01-19,http://sellers.biz/,2923131902,True,True,10
12,13,4fa8ffcdBbf53bB,Darryl,Archer,Kerr-Cherry,Holtfurt,Uganda,(389)437-1716,092.364.7349x593,woodalejandro@skinner-sloan.biz,2022-04-18,https://www.daniels.com/,3894371716,True,True,10
14,15,2a0c691Ce19C6f3,Vicki,Nunez,"Leonard, Galvan and Blackburn",Barbaraborough,Haiti,(217)474-0312,(098)195-0840x79579,zgrant@sweeney.com,2022-01-30,https://reynolds.com/,2174740312,True,True,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,985,fDeEA94e308E40B,Collin,White,Silva-Walters,Chenton,Bangladesh,(115)594-1470,(632)593-2961,andrea14@tran-stevens.org,2021-11-14,https://nash.org/,1155941470,True,True,10
988,989,bafc42A5bdEdcCB,Maureen,Rivers,Patrick Inc,Maxwellborough,Guyana,(759)812-4987,(963)705-8521,duncaneric@salas-huff.org,2020-05-16,http://chung.org/,7598124987,True,True,10
990,991,d9f860f54bF823e,Bill,Richards,Grant Inc,South Shellyview,Liechtenstein,(634)290-5807,738-287-3938,roger88@holden.com,2022-03-01,http://norton-buck.com/,6342905807,True,True,10
994,995,c9c09BdD3c9de1a,Kristie,Rice,Harper Ltd,East Leslie,Guinea,4200976464,+1-766-057-0583,joycecombs@guerra-burns.com,2021-12-06,https://www.pena.com/,4200976464,True,True,10
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,1193982387,True,True,10

In [24]:
dfResult = df.drop(columns=['only digit', 'ten digit'])
dfResult

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,cleanedPhone,phoneLength
0,1,dE014d010c7ab0c,Andrew,Goodman,Stewart-Flynn,Rowlandberg,Macao,846-790-4623x4715,(422)787-2331x71127,marieyates@gomez-spencer.info,2021-07-26,http://www.shea.biz/,84679046234715,14
1,2,2B54172c8b65eC3,Alvin,Lane,"Terry, Proctor and Lawrence",Bethside,Papua New Guinea,124-597-8652x05682,321.441.0588x6218,alexandra86@mccoy.com,2021-06-24,http://www.pena-cole.com/,124597865205682,15
2,3,d794Dd48988d2ac,Jenna,Harding,Bailey Group,Moniquemouth,China,(335)987-3085x3780,001-680-204-8312,justincurtis@pierce.org,2020-04-05,http://www.booth-reese.biz/,33598730853780,14
3,4,3b3Aa4aCc68f3Be,Fernando,Ford,Moss-Maxwell,Leeborough,Macao,(047)752-3122,048.779.5035x9122,adeleon@hubbard.org,2020-11-29,http://www.hebert.com/,0477523122,10
4,5,D60df62ad2ae41E,Kara,Woods,Mccarthy-Kelley,Port Jacksonland,Nepal,+1-360-693-4419x19272,163-627-2565,jesus90@roberson.info,2022-04-22,http://merritt.com/,1360693441919272,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,FbcCaF483aFaFAE,Diana,Monroe,Bass-Wilson,Lake Jacksonmouth,Guatemala,+1-171-715-9766x54993,(489)413-7296x32807,cassidymercado@bonilla.com,2022-01-09,http://castro.net/,1171715976654993,16
996,997,979c4D58Ae9a9cc,Jerry,Morales,Pratt-King,South Dominiquemouth,Georgia,132.253.8501x097,+1-301-292-8363x80270,gavin13@logan-downs.com,2021-08-21,https://www.braun.info/,1322538501097,13
997,998,D0DcF6a4BcefCc8,Tracie,Floyd,"Holt, Wilson and Shields",East Chloeshire,Solomon Islands,1193982387,(482)926-8966,lowehailey@oconnor.org,2020-04-22,http://www.zavala-rubio.com/,1193982387,10
998,999,90EE9CbbDa374E9,Paul,Barnes,"Brown, Oliver and Haynes",South Shane,Finland,+1-537-466-3245x3699,791-835-9075,hodgeseddie@hardin-wells.com,2021-03-12,https://stone-randolph.info/,153746632453699,15
999,1000,51732B5b2328015,Dominic,Duran,Durham LLC,East Wendy,British Indian Ocean Territory (Chagos Archipe...,+1-278-758-4331,814-860-0941x057,owarner@velasquez.info,2021-12-09,http://www.cox.com/,12787584331,11